
.fileInput {
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}